<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RabtBilMusteriKayit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <RabtBilMusteriKayit.Properties.Settings>
      <setting name="Dil" serializeAs="String">
        <value>tr</value>
      </setting>
      <setting name="LisansliMi" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Lisans" serializeAs="String">
        <value />
      </setting>
      <setting name="Eposta" serializeAs="String">
        <value />
      </setting>
    </RabtBilMusteriKayit.Properties.Settings>
  </userSettings>
</configuration>